@*<div class="holder fullwidth full-nopad mt-0">
    <div class="container">
        <div class="big-carousel js-bigcarousel">
            <div class="big-carousel-item">
                <div class="big-carousel-item-image"><img src="/Content/images/slider/img-slide-placeholder.png" data-src="/Content/images/slider/banner-1.jpg" alt="" class="img-fluid lazyload"></div>
                <div class="big-carousel-item-caption-wrap">
                    <div class="big-carousel-item-caption text-center">
                        <h2 class="big-carousel-item-title">GROTTO MARBLE INSPIRATION</h2>
                        <a href="#" class="btn-action"><span>XEM THÊM</span></a>
                    </div>
                </div>
            </div>
            <div class="big-carousel-item">
                <div class="big-carousel-item-image"><img src="/Content/images/slider/img-slide-placeholder.png" data-src="/Content/images/slider/banner-2.jpg" alt="" class="img-fluid lazyload"></div>
                <div class="big-carousel-item-caption-wrap">
                    <div class="big-carousel-item-caption text-center">
                        <h2 class="big-carousel-item-title">GROTTO MARBLE INSPIRATION</h2>
                        <a href="#" class="btn-action"><span>XEM THÊM</span></a>
                    </div>
                </div>
            </div>
            <div class="big-carousel-item">
                <div class="big-carousel-item-image"><img src="/Content/images/slider/img-slide-placeholder.png" data-src="/Content/images/slider/banner-2.jpg" alt="" class="img-fluid lazyload"></div>
                <div class="big-carousel-item-caption-wrap">
                    <div class="big-carousel-item-caption text-center">
                        <h2 class="big-carousel-item-title">GROTTO MARBLE INSPIRATION</h2>
                        <a href="#" class="btn-action"><span>XEM THÊM</span></a>
                    </div>
                </div>
            </div>
            <div class="big-carousel-item">
                <div class="big-carousel-item-image"><img src="/Content/images/slider/img-slide-placeholder.png" data-src="/Content/images/slider/banner-2.jpg" alt="" class="img-fluid lazyload"></div>
                <div class="big-carousel-item-caption-wrap">
                    <div class="big-carousel-item-caption text-center">
                        <h2 class="big-carousel-item-title">GROTTO MARBLE INSPIRATION</h2>
                        <a href="#" class="btn-action"><span>XEM THÊM</span></a>
                    </div>
                </div>
            </div>
            <div class="big-carousel-item">
                <div class="big-carousel-item-image"><img src="/Content/images/slider/img-slide-placeholder.png" data-src="/Content/images/slider/banner-2.jpg" alt="" class="img-fluid lazyload"></div>
                <div class="big-carousel-item-caption-wrap">
                    <div class="big-carousel-item-caption text-center">
                        <h2 class="big-carousel-item-title">GROTTO MARBLE INSPIRATION</h2>
                        <a href="#" class="btn-action"><span>XEM THÊM</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="holder global_width mt-6 bnr-grid-holder holder_favoritespace">
    <div class="container">
        <div class="title-with-center text-center">
            <h2 class="h1-style text-line">Không gian yêu thích</h2>
        </div>
        <div class="row bnr-grid">
            <div class="col-md-4 bnr-big bnr-left">
                <div class="row bnr-grid">
                    <div class="col-md-12 item">
                        <div class="col-content">
                            <a href="Category.html" class="bnr-wrap">
                                <div class="bnr bnr26 bnr--center bnr--middle" data-fontratio="4.09" style="font-size: 100px;">
                                    <img src="/Content/images/spaces/outdoor.png" data-src="/Content/images/spaces/outdoor.png" class=" lazyloaded" alt="">
                                    <span class="bnr-caption"><span class="bnr-text-wrap"><span class="bnr-text2">Khu vực ngoài trời</span></span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 bnr-four">
                <div class="row bnr-grid">
                    <div class="col-md-6 item">
                        <div class="col-content">
                            <a href="Category.html" class="bnr-wrap">
                                <div class="bnr bnr26 bnr--center bnr--middle " data-fontratio="4.09" style="font-size: 100px;">
                                    <img src="/Content/images/spaces/livingroom.png" data-src="/Content/images/spaces/livingroom.png" class=" lazyloaded" alt="">
                                    <span class="bnr-caption"><span class="bnr-text-wrap"><span class="bnr-text2">Phòng khách</span></span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 item">
                        <div class="col-content">
                            <a href="Category.html" class="bnr-wrap">
                                <div class="bnr bnr26 bnr--center bnr--middle " data-fontratio="4.09" style="font-size: 100px;">
                                    <img src="/Content/images/spaces/kitchin.png" data-src="/Content/images/spaces/kitchin.png" class=" lazyloaded" alt="">
                                    <span class="bnr-caption"><span class="bnr-text-wrap"><span class="bnr-text2">Khu vực bếp</span></span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 item">
                        <div class="col-content">
                            <a href="Category.html" class="bnr-wrap">
                                <div class="bnr bnr26 bnr--center bnr--middle" data-fontratio="4.09" style="font-size: 100px;">
                                    <img src="/Content/images/spaces/bedroom.png" data-src="/Content/images/spaces/bedroom.png" class=" lazyloaded" alt="">
                                    <span class="bnr-caption"><span class="bnr-text-wrap"><span class="bnr-text2">Phòng ngủ</span></span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 item">
                        <div class="col-content">
                            <a href="Category.html" class="bnr-wrap">
                                <div class="bnr bnr26 bnr--center bnr--middle" data-fontratio="4.09" style="font-size: 100px;">
                                    <img src="/Content/images/spaces/bathroom.png" data-src="/Content/images/spaces/bathroom.png" class=" lazyloaded" alt="">
                                    <span class="bnr-caption"><span class="bnr-text-wrap"><span class="bnr-text2">Phòng tắm</span></span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="holder fullboxed holder-inspiration mt-0 holder-bg-07">
    <div class="row row-chess">
        <div class="col-md-6 pr-2">
            <div class="pt-5">
                <div class="title-with-center text-center">
                    <h2 class="h1-style text-line">Ý tưởng</h2>
                </div>
            </div>
            <div class="img-inspiration" style="margin-bottom: -50px;">
                <a href="idea.html" class="bnr-wrap">
                    <div class="bnr bnr26 bnr--center bnr--middle fontratio-calc" data-fontratio="4.09" style="font-size: 88.0196px;">
                        <img src="/Content/images/Inspiration/home-01.jpg" data-src="/Content/images/Inspiration/home-01.jpg" class=" lazyloaded" alt="">
                        <span class="bnr-caption"><span class="bnr-text-wrap"><span class="bnr-text2">Xem ý tưởng</span></span></span>
                    </div>
                </a>

            </div>
        </div>
        <div class="col-md-6 pl-2">
            <div class="img-inspiration" style="margin-top: -110px;">
                <a href="idea.html" class="bnr-wrap">
                    <div class="bnr bnr26 bnr--center bnr--middle fontratio-calc" data-fontratio="4.09" style="font-size: 88.0196px;">
                        <img src="/Content/images/Inspiration/home-02.jpg" data-src="/Content/images/Inspiration/home-02.jpg" class=" lazyloaded" alt="">
                        <span class="bnr-caption"><span class="bnr-text-wrap"><span class="bnr-text2">Xem ý tưởng</span></span></span>
                    </div>
                </a>
            </div>
            <div class=" pt-md-3 px-md-4">
                <p>Lấy cảm hứng từ nét đẹp của các không gian đô thị, bộ sưu tập gạch ốp lát Brook tái tạo hoàn hảo một cái nhìn hiện đại và tinh tế, sang trọng với các gam màu sắc trung tính và hiệu ứng bề mặt bê tông tinh tế.</p>
                <div class="text-left"><a href="idea.html" class="linkmore">Xem chi tiết &gt;&gt;</a></div>
            </div>
        </div>
    </div>
</div>

<div class="holder mt-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="title-with-center text-center pt-5">
                    <h2 class="h1-style text-line">xu hướng sản phẩm</h2>
                </div>
                <div class="prd-grid product-listing data-to-show-5 data-to-show-md-4 data-to-show-sm-3 js-category-grid mt-0">
                    <div class="prd prd-has-loader prd-new prd-popular">
                        <div class="prd-inside">
                            <div class="prd-img-area">
                                <a href="product.html" class="prd-img">
                                    <img src="/Content/images/products/product-placeholder.png" data-srcset="/Content/images/tendency/1.jpg" alt="Ottoman" class="js-prd-img lazyload">
                                </a>
                                <div class="saleoff">Sale</div>
                                <a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <div class="gdw-loader"></div>
                                <div class="prd-action">
                                    <a href="Product.html">Xem chi tiết</a>
                                </div>
                            </div>
                            <div class="prd-info">
                                <h2 class="prd-title"><a href="product.html">KAIR</a></h2>
                                <div class="material">
                                    <ul>
                                        <li><a href=""><span>5</span> Màu sắc</a></li>
                                        <li><a href=""><span>1</span> Bề mặt</a></li>
                                        <li><a href=""><span>2</span> Kích thước</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prd prd-has-loader prd-new">
                        <div class="prd-inside">
                            <div class="prd-img-area">
                                <a href="product.html" class="prd-img">
                                    <img src="/Content/images/products/product-placeholder.png" data-srcset="/Content/images/tendency/2.jpg" alt="Ottoman" class="js-prd-img lazyload">
                                </a>
                                <div class="saleoff">New Arrivals</div>
                                <a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <div class="gdw-loader"></div>
                                <div class="prd-action">
                                    <a href="Product.html">Xem chi tiết</a>
                                </div>
                            </div>
                            <div class="prd-info">
                                <h2 class="prd-title"><a href="product.html">MAGNA BONE</a></h2>
                                <div class="material">
                                    <ul>
                                        <li><a href=""><span>5</span> Màu sắc</a></li>
                                        <li><a href=""><span>1</span> Bề mặt</a></li>
                                        <li><a href=""><span>2</span> Kích thước</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prd prd-has-loader prd-sale prd-popular">
                        <div class="prd-inside">
                            <div class="prd-img-area">
                                <a href="product.html" class="prd-img">
                                    <img src="/Content/images/products/product-placeholder.png" data-srcset="/Content/images/tendency/3.jpg" alt="Ottoman" class="js-prd-img lazyload">
                                </a>
                                <div class="saleoff">Sale</div>
                                <a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <div class="gdw-loader"></div>
                                <div class="prd-action">
                                    <a href="Product.html">Xem chi tiết</a>
                                </div>
                            </div>
                            <div class="prd-info">
                                <h2 class="prd-title"><a href="product.html">CHALET</a></h2>
                                <div class="material">
                                    <ul>
                                        <li><a href=""><span>4</span> Màu sắc</a></li>
                                        <li><a href=""><span>1</span> Bề mặt</a></li>
                                        <li><a href=""><span>2</span> Kích thước</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="prd prd-has-loader prd-new">
                        <div class="prd-inside">
                            <div class="prd-img-area">
                                <a href="product.html" class="prd-img">
                                    <img src="/Content/images/products/product-placeholder.png" data-srcset="/Content/images/tendency/4.jpg" alt="Ottoman" class="js-prd-img lazyload">
                                </a>
                                <a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <div class="gdw-loader"></div>
                                <div class="prd-action">
                                    <a href="Product.html">Xem chi tiết</a>
                                </div>
                            </div>
                            <div class="prd-info">
                                <h2 class="prd-title"><a href="product.html">LUBECK</a></h2>
                                <div class="material">
                                    <ul>
                                        <li><a href=""><span>5</span> Màu sắc</a></li>
                                        <li><a href=""><span>1</span> Bề mặt</a></li>
                                        <li><a href=""><span>3</span> Kích thước</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="prd prd-has-loader prd-new">
                        <div class="prd-inside">
                            <div class="prd-img-area">
                                <a href="product.html" class="prd-img">
                                    <img src="/Content/images/products/product-placeholder.png" data-srcset="/Content/images/tendency/5.jpg" alt="Ottoman" class="js-prd-img lazyload">
                                </a>
                                <div class="saleoff">New Arrivals</div>
                                <a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <div class="gdw-loader"></div>
                                <div class="prd-action">
                                    <a href="Product.html">Xem chi tiết</a>
                                </div>
                            </div>
                            <div class="prd-info">
                                <h2 class="prd-title"><a href="product.html">BETON</a></h2>
                                <div class="material">
                                    <ul>
                                        <li><a href=""><span>3</span> Màu sắc</a></li>
                                        <li><a href=""><span>1</span> Bề mặt</a></li>
                                        <li><a href=""><span>2</span> Kích thước</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="holder mt-5 holder-blogs">
    <div class="container">
        <div class="row row--sm-pad">
            <div class="col-md-12 col-lg-12">
                <div class="title-with-center text-center pt-5">
                    <h2 class="h1-style text-line">tin tức</h2>
                </div>
            </div>

            <div class="col-md-9 centerColumn">
                <div class="bnr-wrap">
                    <div class="bnr bnr24 bnr--style-1 bnr--bottom bnr--left" data-fontratio="2.74">
                        <img src="/Content/images/placeholder.png" data-src="/Content/images/blog/post/6.jpg" class="lazyload" alt="">
                        <span class="bnr-caption">
                            <span class="bnr-text-wrap">
                                <span class="bnr-text1">Sự Khác Biệt Giữa gạch Ceramic và gạch Porcelain</span>
                            </span>
                        </span>
                    </div>
                    <p>Gạch ceramic được làm từ đất sét đỏ, nâu hoặc màu trắng, trong khi gạch porcelain hầu hết được làm bằng đất sét trắng tinh chế và tinh khiết.</p>
                    <a href="blog-post.html" class="linkmore">Xem chi tiết >></a>
                </div>
            </div>
            <div class="col-md-3 mt-15 mt-md-0 sideColumn">
                <div class="bnrs-column">
                    <div class="bnr-wrap">
                        <div class="bnr bnr24 bnr--style-1 bnr--bottom bnr--left" data-fontratio="2.74">
                            <img src="/Content/images/placeholder.png" data-src="/Content/images/blog/post/5.jpg" class="lazyload" alt="">
                            <span class="bnr-caption">
                                <span class="bnr-text-wrap">
                                    <span class="bnr-text1">Một Số Mẫu Gạch Ốp Tường Không Thể Rời Mắt</span>
                                </span>
                            </span>
                        </div>
                        <p>Trang trí khu vực tường nhà từ phòng khách, phòng ngủ đến phòng tắm sẽ giúp không gian</p>
                        <a href="blog-post.html" class="linkmore">Xem chi tiết >></a>
                    </div>
                    <div class="bnr-wrap">
                        <div class="bnr bnr24 bnr--style-1 bnr--bottom bnr--left" data-fontratio="2.74">
                            <img src="/Content/images/placeholder.png" data-src="/Content/images/blog/post/7.jpg" class="lazyload" alt="">
                            <span class="bnr-caption">
                                <span class="bnr-text-wrap">
                                    <span class="bnr-text1">Sai Lầm Cần Tránh Khi Chọn Gạch Lát Nền</span>
                                </span>
                            </span>
                        </div>
                        <p>Hiện nay, các kiến trúc - nội thất thường sử dụng gạch lát nền rất nhiều để hoàn thiện quá trình xây.</p>
                        <a href="blog-post.html" class="linkmore">Xem chi tiết >></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="holder mb-6">
    <div class="container">
        <div class="row shop-features">
            <div class="col-md">
                <div class="shop-feature light-color">
                    <div class="shop-feature-icon">
                        <img src="/Content/images/commitment.png" />
                    </div>
                    <div class="shop-feature-text">
                        <div class="text1">Cam kết hàng chính hãng</div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="shop-feature light-color">
                    <div class="shop-feature-icon">
                        <img src="/Content/images/consultation.png" />
                    </div>
                    <div class="shop-feature-text">
                        <div class="text1">Miễn phí tư vấn thiết kế</div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="shop-feature light-color">
                    <div class="shop-feature-icon">
                        <img src="/Content/images/fastdelivery.png" />
                    </div>
                    <div class="shop-feature-text">
                        <div class="text1">Giao hàng nhanh</div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="shop-feature light-color">
                    <div class="shop-feature-icon">
                        <img src="/Content/images/247.png" />
                    </div>
                    <div class="shop-feature-text">
                        <div class="text1">Chăm sóc khách hàng 24/7</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@