
<div class="accordion-group" id="accordionAccount">
    <div class="panel accordion-item">
        <a class="accordion-title" data-toggle="collapse" data-parent="#accordionAccount" href="#collapseaAccount" aria-expanded="true"><h2>Mail tài khoản(Quên mật khẩu, Đăng ký tài khoản)</h2></a>
        <div id="collapseaAccount" class="collapse in" aria-expanded="true">
            <div class="accordion-body">
                <div class="row">
                    <div class="no-boxshadow">
                        <div class="panel-body">
                            <table class="table table-bordered hoverTable tablesaw table-striped" data-tablesaw-mode="columntoggle" data-tablesaw-minimap>
                                <thead>
                                    <tr>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Mã</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Ghi chú</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="gradeX">
                                        <td><b>{{fullname}}</b></td>
                                        <td><b>Họ và tên của User Đăng ký</b></td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td><b>{{email}}</b></td>
                                        <td><b>Email của User đăng ký</b></td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td><b>{{phonenumber}}</b></td>
                                        <td><b>Số điện thoại của User đăng ký</b></td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td><b>{{linktoken}}</b></td>
                                        <td><b>Đường dẫn xác nhận</b></td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td><b>{{linkbackend}}</b></td>
                                        <td><b>Đường dẫn quản trị</b></td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td><b>{{datetimenow}}</b></td>
                                        <td><b>Thời gian thực</b></td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td><b>{{message}}</b></td>
                                        <td><b>Nội dung tin nhắn liên hệ</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="accordion-group" id="accordionInvole">
        <div class="panel accordion-item">
            <a class="accordion-title" data-toggle="collapse" data-parent="#accordionInvole" href="#collapseaInvole" aria-expanded="false"><h2>Đơn hàng</h2></a>
            <div id="collapseaInvole" class="collapse" aria-expanded="false">
                <div class="accordion-body">
                    <div class="row">
                        <div class="panel panel-default alt no-boxshadow">
                            <div class="panel-body">
                                <table class="table table-bordered hoverTable tablesaw table-striped" data-tablesaw-mode="columntoggle" data-tablesaw-minimap>
                                    <thead>
                                        <tr>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Mã</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@