@using MvcSiteMapProvider.Web.Html;
@using GSID.Model.Models;
@using GSID.WebApp.Areas.Economic.ViewModels;

@using GSID.WebApp.Helpers;
@model HouseHoldBusinessCreateViewModel

<fieldset>
    <legend><b>Ngành nghề</b></legend>
    <div data-row-span="2">
        <div data-field-span="1">
            <div class="row">
                @Html.LabelFor(m => m.CareerId)
                @Html.DropDownListFor(model => model.CareerId, new SelectList(Model.Careers, "Id", "Name"), "---Chọn ngành nghề chính---", new { @class = "form-control select2 select-placeholder", style = "width: 100%" })
                @Html.ValidationMessageFor(model => model.CareerId)
            </div>

            <div class="row">
                <label>Danh sách ngành nghề phụ</label>
                <div id="careerchild"></div>
                <a href="javascript:;" id="addcareers"><span class="label label-primary">Thêm ngành nghề</span></a>
                <br />
                <span id="errorcareer">Lỗi</span>
            </div>
        </div>
    </div>
</fieldset>


<script type="text/javascript">
    $(document).ready(function () {
        $('#addcareers').click(function () {
            $('#bodymask').show();
            $.ajax({
                url: '@Url.Action("ChildCareers", "Enterprise")',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#careerchild').append(result);
                    $('#bodymask').hide();
                },
                error: function () {
                    $('#bodymask').hide();
                    alert('Error!');
                }
            });
        });
    });
</script>