
<footer role="contentinfo">
    <div class="clearfix">
        <ul class="list-unstyled list-inline pull-left">
            <li>
                <h6 class="m0">&copy; @DateTime.Now.Year.ToString() G-SID Technology</h6>
            </li>
        </ul>
    </div>
</footer>